.App {
	background-color: rgb(100, 136, 218);
	text-align: center;
}
.content {
	background-color: rgb(169, 224, 169);
	height: 84vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
